{% load static %}
<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <title>Society of Women Journalists</title>
  <link href="{% static "css/base1.css" %}" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
  <!-- Start of nav bar -->
  <div id="header">
    <a href="{% url "swj:homepage" %}">
      <span class="logo">SWJ1894</span>
    </a>
      <ul class="menu">
        <li>
          <a href="{% url "swj:references" %}">
            References</a>
        </li>
        <li>
          <a href="{% url "swj:contributors" %}">
            Contributors
          </a>
        </li>
        <li>
          <a href="{% url "swj:members" %}">
            SWJ Members <i class="fa fa-search"></i></a>
        </li>
      </ul>
  </div>
  <!-- End of Nav bar -->

  <!-- Start of content bar -->
  <div id="content">
    {% block content %}
    {% endblock %}
  </div>
  <!-- end of Content bar -->
</body>
</html>